.CalorieCalculator {
    text-align: center;
}

.CalorieCalculator-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .CalorieCalculator-logo {
        animation: ACalorieCalculator-logo-spin infinite 20s linear;
    }
}

.CalorieCalculator-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.CalorieCalculator-link {
    color: #61dafb;
}

@keyframes CalorieCalculator-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

small a{
    color: azure;
}

small a:hover{
    color: lightslategrey;
}
