.entry-form {
    color: black;
    background-color: azure;
    width: 60%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-style: outset;
    border-radius: 0.5rem;
    min-width: 400px;
    max-width: 700px;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
    margin-bottom: 10px;
    box-shadow: 2rem 3rem 5rem #aaa;
}

.measurement-choice input{
    margin-right: 8px;
}

.gender-choice{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    font-size: 10px;
}

.gender-choice select{
    font-size: 10px;
}

label{
    padding-right: 10px;
}

#calculate-btn {
    background-color: #c7c35b;
    border-color: darkgray;
    border-radius: 4px;
    width: 31%;
    height: 35%;
}

#calculate-btn:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}